/*....................MENU.....................*/
#menu{
    display: none;
    position: absolute;
    width: 1920px;
    height: 955px;
    background-image: url("../img/fondos/Blue_Red.jpg");
    background-size: 100% 100%;
    max-width: 1920px;
    background-repeat: no-repeat;
    margin: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

/*-----Botón de Jugar-----*/
#bJugar{
  display: block;
  
  height:50px;
  margin-top: 100px;
  margin-right: 834px;
  margin-bottom: auto;
  margin-left: auto;
  width: 180px;
  background: #ffcc00;
  padding: 8px 14px 10px;
  border: 1px solid #edbe04;
  cursor: pointer;
  font-size: 1.6em;
  font-family: pokefont, sans-serif;
  color: #fff;
  text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
  box-shadow: inset 0px 1px 0px #DFB45A, 0px 5px 0px 0px #CB8B00, 0px 0px 5px #DFB45A;
  border-radius: 10px;
}

#bJugar:hover{
   border-top-color: #eabb00;
   background: #eabb00;
   color: #e5e5e5;
}

#bJugar:active{
   border-top-color: #dbb004;
   background: #dbb004;
}
      /*-----//-----*/

/*-----Botón de Tutorial-----*/
#bTutorial{
  display: block;
  
  height: 50px;
  margin-top: 100px;
  margin-right: 801px;
  margin-bottom: auto;
  margin-left: auto;
  width: 250px;
  background: #ffcc00;
  padding: 8px 14px 10px;
  border: 1px solid #edbe04;
  cursor: pointer;
  font-size: 1.6em;
  font-family: pokefont, sans-serif;
  color: #fff;
  text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
  box-shadow: inset 0px 1px 0px #DFB45A, 0px 5px 0px 0px #CB8B00, 0px 0px 5px #DFB45A;
  border-radius: 10px;
}

#bTutorial:hover{
   border-top-color: #eabb00;
   background: #eabb00;
   color: #e5e5e5;
}

#bTutorial:active{
   border-top-color: #dbb004;
   background: #dbb004;
}
      /*-----//-----*/

/*-----Botón de Salir-----*/
#bSalir{
  display: block;
  
  height: 50px;
  margin-top: 100px;
  margin-right: 839px;
  margin-bottom: auto;
  margin-left: auto;
  width: 170px;
  background: #ffcc00;
  padding: 8px 14px 10px;
  border: 1px solid #edbe04;
  cursor: pointer;
  font-size: 1.6em;
  font-family: pokefont, sans-serif;
  color: #fff;
  text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
  box-shadow: inset 0px 1px 0px #DFB45A, 0px 5px 0px 0px #CB8B00, 0px 0px 5px #DFB45A;
  border-radius: 10px;
}

#bSalir:hover{
   border-top-color: #eabb00;
   background: #eabb00;
   color: #e5e5e5;
}

#bSalir:active{
   border-top-color: #dbb004;
   background: #dbb004;
}
      /*-----//-----*/
/*.................................................*/